@model List<GestionaleMunicipale.ViewModels.ReportVerbaliPerTrasgressoreViewModel>

@{
    ViewData["Title"] = "Report Verbali per Trasgressore";
}

<h2>Verbali per Trasgressore</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Cognome</th>
            <th>Nome</th>
            <th>Totale Verbali</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Cognome</td>
                <td>@item.Nome</td>
                <td>@item.TotaleVerbali</td>
            </tr>
        }
    </tbody>
</table>
