@{
    ViewData["Title"] = "Report Verbali per Trasgressore";
}

<div class="container mt-5">
    <h2 class="text-center">Report Verbali per Trasgressore</h2>

    <table class="table table-striped mt-4">
        <thead>
            <tr>
                <th>Trasgressore</th>
                <th>Totale Verbali</th>
            </tr>
        </thead>
        <tbody id="reportTable">
        </tbody>
    </table>
</div>
